apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "CHANGE_ME_ROOT"
  MYSQL_DATABASE: "jokes"
  MYSQL_USER: "jokeuser"
  MYSQL_PASSWORD: "CHANGE_ME_USER"
