apiVersion: apps/v1
kind: Deployment
metadata:
  name: joke-app-green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: joke-app
      version: green
  template:
    metadata:
      labels:
        app: joke-app
        version: green
    spec:
      containers:
        - name: app
          image: ghcr.io/angel-karali/joke-a-minute_kubernetes:main-71b099e
          ports:
            - containerPort: 5000
              name: http
          env:
            - name: APP_PORT
              value: "5000"
            - name: DB_HOST
              value: "mysql"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6
